div {
	border: 4px dashed #444;
	padding-left: 5px;
	width: 450px;
}
.equation {
	font-size: 25px;
	font-style: italic;

}
sub,sup {
	font-size: 14px;
	font-style: normal;
}
sub {
	color: blue;
}
sup {
	color: red;
}
span {
	font-style: italic;
	font-weight: bold;
}